<div class="container pt-5 pb-5">
  <div class="col-12">
    <div class="d-flex flex-wrap justify-content-between">
      <div class="card shadow mt-2">
        <div class="card-body">
          <h5 class="card-title">Admin Component</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
            sapiente est maxime officia voluptatibus ullam beatae dolor vel
            amet, dignissimos optio libero obcaecati ipsam, incidunt maiores ea
            tempore voluptas vero!
          </p>
        </div>
      </div>
      <div class="card shadow mt-2">
        <div class="card-body">
          <h5 class="card-title">Admin Component</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi
            necessitatibus ex, quisquam consequuntur nulla maiores quas rem
            distinctio dicta debitis sapiente, perspiciatis modi! Totam, quam
            sapiente accusamus tenetur quos dicta.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
