*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-transform: capitalize;
    text-align: center;
}
fieldset{
    margin : 5em auto;
    padding: 1em 2em;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-width: 400px;
}
legend{
    font-size: 1.25em;
    padding: 0 .25em;
    color: #999;
}
label{
    display: block;
    margin-top: 1em;
}
label:nth-of-type(1){
    margin-top: 0;
}
input{
    padding: 0.5em;
    border: 1px solid #999;
    width: 15em;
}
button{
    margin: 1em;
    font-size: 1.1em;
    padding: 0.15em 1em;
    
    border-radius: 6px;
}
