<div class="row">
    <div class="col-lg-6">
        <div class="container pt-5">
            <div class="row justify-content-center pt-5">
                <div class="col shadow round pb-3">
                    <h1 class="text-center pt-3 text-secondary">Template driven Form</h1>
                    <form #tdForm="ngForm" (ngSubmit)="onSubmit(tdForm)">
                        <div class="form-group">
                            <label class="col-form-label" for="name">Name:</label>
                            <input type="text" #name="ngModel" name="name" class="form-control" ngModel required />
                            <small *ngIf="name?.invalid && (name?.touched)" class="text-danger">Name is
                                Required</small>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Email:</label>
                            <input type="text" #email="ngModel" name="email" class="form-control" ngModel required />
                            <small *ngIf="email.invalid && (email.touched)" class="text-danger">Email is Required</small>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="phone">Phone:</label>
                            <input type="text" #phone="ngModel" minlength="10" maxlength="11" class="form-control" name="phone" ngModel
                                required />
                            <small *ngIf="phone.invalid && (phone.touched)" class="text-danger">Phone number is Required</small>

                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary" [disabled]="tdForm.invalid">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="container pt-5">
            <div class="row justify-content-center pt-5">
                <div class="col shadow round pb-3">
                    <h1 class="text-center pt-3 text-secondary">Model Driven Form</h1>
                    <form [formGroup]="form">
                        <div class="form-group">
                            <label class="col-form-label">Name:</label>
                            <input formControlName="name" type="text" class="form-control" />
                            <small *ngIf="name?.invalid && name?.touched" class="text-danger">Name is Required</small>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Email:</label>
                            <input formControlName="email" type="text" class="form-control" />
                            <small *ngIf="email?.invalid && email?.touched" class="text-danger">Email is
                                Required</small>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Phone:</label>
                            <input formControlName="phone" type="text" class="form-control" />
                            <small *ngIf="phone?.invalid && phone?.touched" class="text-danger">Phone no is Required Min
                                10</small>
                        </div>

                        <div class="mt-2">
                            <button (click)="submitModelForm()" [disabled]="form.invalid" type="button"
                                class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>